.root {
  color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-gray-0));
  transition: 0.25s all ease;
  opacity: 0.66;

  @include mantine.hover {
    opacity: 1;
  }

  @include mantine.hover {
    color: light-dark(var(--mantine-color-pri-6), var(--mantine-color-pri-6));
  }
}
