.root {
  transition: 0.15s all ease-in-out;

  &[data-variant='filled'] {
    .inner {
      color: var(--mantine-color-body);
    }
  }

  &[data-variant='light'] {
    .inner {
      color: var(--mantine-color-pri-9);
    }
  }
}
