.input {
	&[data-variant="default"] {
		border: 0px solid transparent;
		border-radius: var(--mantine-radius-sm);
		background-color: light-dark(var(--mantine-color-pri-light), var(--mantine-color-pri-light));
		// padding: 0 var(--mantine-spacing-md);
		font-size: var(--mantine-font-size-xs);

		@include larger-than($mantine-breakpoint-xs) {
			font-size: var(--mantine-font-size-sm);
		}
	}
}

.innerInput {
	padding: 0 var(--mantine-spacing-md);
}

.label {
	margin-left: var(--mantine-spacing-lg);
	font-size: var(--mantine-font-size-xs);

	@include larger-than($mantine-breakpoint-xs) {
		font-size: var(--mantine-font-size-sm);
	}
}

.description {
	margin-left: var(--mantine-spacing-lg);
	color: light-dark(inherit, var(--mantine-color-dark-0));
	font-size: calc(var(--mantine-font-size-xs) * 0.8);

	@include larger-than($mantine-breakpoint-xs) {
		font-size: var(--mantine-font-size-xs);
	}
}

.error {
	margin-left: var(--mantine-spacing-lg);
	font-size: calc(var(--mantine-font-size-xs) * 0.8);

	@include larger-than($mantine-breakpoint-xs) {
		font-size: var(--mantine-font-size-xs);
	}
}
