.embla {
  overflow: hidden;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.embla__dot {
  border-radius: 50%;
  border: 4px solid var(--mantine-color-gray-light);
  cursor: pointer;
  overflow: hidden;
  transition: 0.25s all ease;

  @include mantine.hover {
    border-color: transparent;
  }
}

.embla__dot--selected {
  border-color: var(--mantine-color-pri-6);

  @include mantine.hover {
    border-color: var(--mantine-color-pri-6);
  }
}
