.link {
  transition: 0.25s all ease;
  color: var(--mantine-color-text) !important;
  font-weight: 500;

  @include mantine.hover {
    color: var(--mantine-color-pri-6) !important;
  }
}

.linkLight {
  position: relative;
  padding-left: 0px;
  color: var(--mantine-color-text) !important;
  transition: 0.25s all ease;
  opacity: 0.66;

  @include mantine.hover {
    padding-left: 8px;
    opacity: 1;
  }
}
