.link {
	// padding: 0 calc(var(--mantine-spacing-xs) / 2);
	font-size: var(--mantine-font-size-sm);
	transition: 0.25s color ease;

	@include hover {
		color: var(--mantine-color-pri-9);
	}
}

.linkActive {
	font-weight: 500;
}
