.header {
	background-color: light-dark(var(--mantine-color-pri-7), var(--mantine-color-pri-7));
}

.link {
	color: light-dark(var(--mantine-color-pri-0), var(--mantine-color-pri-0));
}

.icon {
	background-color: light-dark(var(--mantine-color-pri-0), var(--mantine-color-pri-0));
	color: light-dark(var(--mantine-color-pri-7), var(--mantine-color-pri-7));
}
