.textInput {
  padding: var(--mantine-spacing-xl) var(--mantine-spacing-xs);
  border-radius: 0px;
  background-color: transparent;
  border: 2px solid transparent;
  border-bottom: 2px solid var(--mantine-color-gray-light);

  &:focus {
    border: 2px solid transparent;
    border-bottom: 2px solid var(--mantine-color-pri-6);
  }
}

.textArea {
  padding: var(--mantine-spacing-xl) var(--mantine-spacing-xs);
  border-radius: 0px;
  background-color: transparent;
  border: 2px solid transparent;
  border-bottom: 2px solid var(--mantine-color-gray-light);

  &:focus {
    border: 2px solid transparent;
    border-bottom: 2px solid var(--mantine-color-pri-6);
  }
}
