.control {
  background-color: var(--mantine-color-gray-light);
  border: 1.5px solid var(--mantine-color-gray-light);
  border-radius: var(--mantine-radius-xl);

  @include mantine.hover {
    background-color: var(--mantine-color-gray-light);
    opacity: 0.9;
  }

  &[data-active] {
    border-color: var(--mantine-color-pri-6);
  }
}
