.dropdown {
}

.arrow {
}

.divider {
}

.label {
}

.item {
	transition: 0.25s all ease;
}

.itemActive {
	font-weight: 500;

	@include hover {
		background-color: var(--mantine-color-anchor-light);
	}
}

.itemLabel {
	color: light-dark(var(--mantine-color-anchor));
}

.itemSection {
}
