.box {
	background-color: light-dark(var(--mantine-color-pri-7), var(--mantine-color-pri-1));
	border-top-right-radius: var(--mantine-radius-sm);
	border-bottom-right-radius: var(--mantine-radius-sm);
}
